.product-leader-developers-content {
  padding: 2rem 0;

  ul {
    margin: -1rem 0 2rem 4rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

.product-leader-content {
  padding: 20px;
  line-height: 1.6;

  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--color-primary);
  }

  p {
    margin-bottom: 15px;
  }

  ul {
    margin-bottom: 15px;
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  a {
    color: var(--color-secondary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
