.about-page {
  background-color: #e6e8f0; // Slightly darker background

  .about-header {
    color: var(--color-text-light-2);
    background-color: #151b3d; // Darker navy
    color: #4a7885; // Darker blue-gray

    // Rest of the about-header styles remain the same
  }

  .body-content {
    background-color: #fff; // Keeping white for contrast

    .author-wrapper {
      background-color: #00112817; // Slightly darker transparent navy

      .details {
        .socials {
          .icon-wrapper {
            .icon {
              color: #404040; // Darker gray for icons

              &:hover {
                color: var(--color-text-dark-2);
              }
            }
          }
        }
      }
    }
  }
}
