.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: 5rem; // Space for fixed header
  display: flex;
  flex-direction: column;

  > section {
    padding: 4rem 0;
  }
}
